.service-monitoring-header {
  border-bottom: 2px solid rgba(134, 146, 166, 0.25);
}

.service-monitoring-header-first {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 1rem;
}

.service-monitoring-header-second {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1rem 0;
}

.filter {
  display: flex;
  align-items: center;
  gap: 20px;
}

.filter > button {
  border: 1px solid rgba(134, 146, 166, 0.25);
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.filter > button svg {
  width: 16px;
}

.filter ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter li button {
  background-color: transparent;
  border: 1px solid rgba(134, 146, 166, 0.25);
  padding: 8px 12px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.service-monitoring-header-second h3 {
  font-size: 18px;
}

.service-monitoring-main {
  padding: 2rem 0 0;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 335px;
  overflow-y: auto;
  padding: 10px 15px 10px 10px;
}

.services li {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  background-color: #f9fafb;
  box-shadow: 1px -1px 10px rgba(151, 151, 151, 0.25),
    -1px 1px 10px rgba(151, 151, 151, 0.1);
  cursor: pointer;
}

.service-id {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: bold;
}

.graph-container {
  width: 40%;
  height: 80px;
  padding: 5px;
}

.services li div:nth-child(3) {
  display: flex;
  align-self: center;
  gap: 40px;
}

.operational {
  color: var(--green);
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.operational svg {
  width: 18px;
  fill: var(--green);
}

.on-btn,
.drop-down {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.on-btn svg {
  width: 33px;
}

.drop-down svg {
  fill: var(--primary-color);
}

.service-monitoring-footer {
  padding: 1rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-services {
  display: block;
  max-width: 350px;
  width: 100%;
  background-color: var(--white);
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 1;
  border: 1px solid #e3e4e8;
  border-radius: 8px;
  padding: 2rem 0;
}

.select-services ul {
  height: 240px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  padding: 0 1.5rem;
}

.select-services li {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.select-services li img {
  width: 45px;
}

.service-modal-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-modal {
  max-width: 600px;
  width: 100%;
  padding: 5rem 2rem;
  background-color: var(--white);
  position: relative;
}

.service-modal form {
  background: rgba(134, 146, 166, 0.1);
  border-radius: 8px;
  padding: 2rem;
}

.service-modal input {
  height: 50px;
  border: 1px solid transparent;
  padding-left: 20px;
  font-size: 15px;
  border-radius: 8px;
  outline: none;
}

.service-modal .form-group input::placeholder {
  color: #8692a6;
}

.service-modal select {
  appearance: none;
  height: 50px;
  border: 1px solid transparent;
  padding: 0 20px;
  font-size: 15px;
  border-radius: 8px;
  outline: none;
  color: #8692a6;
}

.select {
  position: relative;
}

.select::after {
  content: "▼";
  font-size: 12px;
  position: absolute;
  right: 20px;
  top: 45px;
}

.service-modal form button {
  padding: 1rem 2.5rem;
  background-color: var(--primary-color);
  color: var(--white);
  border: 1px solid transparent;
  outline: none;
  border-radius: 8px;
  margin: 3rem 0 0;
}

.notification-channel {
  margin: 2rem 0;
}

.channels {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 1.5rem 0;
  padding-left: 1.5rem;
}

.channel {
  display: flex;
  align-items: center;
  border: 1px solid black;
  gap: 8px;
  padding: 0.5rem;
  background: #f9fafb;
  border: 1px solid rgba(134, 146, 166, 0.25);
  border-radius: 8px;
}

.channel input {
  width: 18px;
  height: 18px;
}

.channel label {
  font-size: 12px;
}
