.side-bar {
  width: 20vw;
  min-width: 300px;
  height: 100vh;
  background-color: var(--primary-color);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  overflow-y: scroll;
}

.side-bar::-webkit-scrollbar {
  display: none;
}

.nav-items {
  display: flex;
  flex-direction: column;
  padding: 12vh 1rem 0;
  gap: 5px;
}

.nav-item a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1.5rem;
  border: 1px solid transparent;
  border-radius: 5px;
}

.nav-item a.active {
  background-color: var(--white);
}

.nav-item a.active svg {
  fill: var(--primary-color);
  stroke: var(--primary-color);
}

.nav-item a.active span {
  color: var(--primary-color);
  font-weight: bold;
}

.nav-item div {
  display: flex;
  align-items: center;
}

.nav-item div:first-child {
  gap: 20px;
}

.nav-item span {
  color: var(--white);
}

.nav-item svg {
  fill: var(--white);
  stroke: var(--white);
  stroke-width: 0.3px;
  width: 20px;
}

.extra {
  padding: 3rem 1rem 0;
}
